.image-search.column.fill(ng-show="imageSearch")
	input.fill.image-query(ng-model="imageQuery")
	.list
		.item(ng-click="selectImage()")
		.item(ng-click="selectImage()")
		.item(ng-click="selectImage()")
		.item(ng-click="selectImage()")
	
.story.page(ng-hide="imageSearch")
	.bar
		i.fa.fa-home(tap="home()")
		.title(tap="toggleOptions()") {{appTitle}}
		i.fa.fa-chevron-down(tap="toggleOptions()")
		
	.fill.column(ng-swipe-left="nextPage()", ng-swipe-right="prevPage()")
		.page-text-area.column
			.float.top.right(ng-show="options")
				i.fa.fa-pencil(tap="toggleEditPageText()" ng-hide="textEdit")
			
			div.text(ng-show="!textEdit")
				span.word-outer(
					ng-repeat="word in page.words track by $index" 
					tap='select(word)'
				)
					span.word(
						ng-class="{'all-caps':allCaps, playing: isWordPlaying(word)}"
						style="color: {{getWordColor(word)}}"
					) {{word}}
					span &nbsp;
				
			
			textarea#pagetext(
				ng-show="textEdit" 
				ng-model="page.text" 
				msd-elastic=""
			)
			.button.center(ng-show="textEdit" tap="savePage()") SAVE
	
		.fill.column(ng-show="!textEdit")
			.image-area.fill.center(ng-show="pageImageURL || wordImageURL || options")
				img.page-image(ng-src="{{pageImageURL}}")
				img.word-image(ng-src="{{wordImageURL}}")
				img.image-placeholder(ng-show="!pageImageURL && !wordImageURL" src="img/placeholder.png")
				.float.top.right(ng-show="options")
					i.fa.fa-search(tap="googleImage()")
					i.fa.fa-file-picture-o(tap="selectImage()")
					i.fa.fa-camera(tap="captureImage()")
			
			.bar(ng-show="confirmDeletePage")
				.center.fill(tap="deletePage()") DELETE
				.center.fill(tap="confirmDeletePage = false") CANCEL
			
			.bar(ng-show="options")
				.center.fill(tap="confirmDeletePage = true")
					i.fa.fa-trash-o
					div DELETE PAGE
				.center.fill(tap="addPage()")
					i.fa.fa-plus
					div ADD PAGE
		
		
		//- div(
		//- 	ng-if="mode=='read'"
		//- 	ng-include="'read/read.html'"
		//- 	ng-controller="readController"
		//- )
		//- div(
		//- 	ng-if="mode=='edit'"
		//- 	ng-include="'edit/edit.html'"
		//- 	ng-controller="editController"
		//- )
