.session.page
	.header
		i.fa.fa-chevron-left.back-button(tap="back()")
		.title SESSION
	.body
		
		//- .panel.disconnected(ng-show="!connected")
		//- 	.header
		//- 		.title BATTERY WARNING
		//- 	.body
		//- 		.note Plug your device to the power source before starting the session.
		//- 		.note Leaving 	
		div(ng-show="!playing")
			div.lbl Delay (minutes)
			div.delay
				div.button(
					ng-repeat="d in delays" 
					tap="setDelay(d)"
					ng-class="{active: d == delay}"
				) {{d}}
					
			div.lbl Duration (hours)
			div.duration
				div.button(
					ng-repeat="du in durations" 
					tap="setDuration(du)"
					ng-class="{active: du == duration}"
				) {{du}}
				
		div.no-power(ng-show="playing && notcharging") 
			div Your device is not charging!
			div Please connect it to power source
			
		div.in-progress(ng-show="playing") 
			div SESSION IN PROGRESS
			
		span.start.fa-stack.fa-lg(ng-show="!playing" tap="start()")
			i.fa.fa-circle-o.fa-stack-2x
			i.fa.fa-play.fa-stack-1x
				
		span.stop.fa-stack.fa-lg(ng-show="playing" tap="stop()")
			i.fa.fa-circle-o.fa-stack-2x
			i.fa.fa-stop.fa-stack-1x
				
		//- .note Volume: {{currentVolume}}		
