.record.page
	.header
		i.fa.fa-chevron-left.back-button(tap="back()")
		.title NEW RECORDING
	.body
		input.title(ng-model="rec.title" ng-enter="blur()" type='text' placeholder='Title')
		.input-error(ng-class="{visible: !keyboard && error}") {{error}}
			
		div.recarea(ng-show="keyboard == false")
			
			span.play.fa-stack.fa-lg(
				ng-class="{visible: !recording && !playing && rec.url}" 
				tap="play()"
			)
				i.fa.fa-circle-o.fa-stack-2x
				i.fa.fa-play.fa-stack-1x
			
			span.record.fa-stack.fa-lg(
				ng-show="!recording && !playing" 
				tap="record()"
			)
				i.fa.fa-circle-o.fa-stack-2x
				i.fa.fa-microphone.fa-stack-1x
					
			span.stop.fa-stack.fa-lg(
				ng-show="recording || playing" 
				tap="stop()"
			)
				i.fa.fa-circle-o.fa-stack-2x
				i.fa.fa-stop.fa-stack-1x
			
			span.save.fa-stack.fa-lg(
				ng-class="{visible: !recording && !playing && rec.url}" 
				tap="save()"
			)
				i.fa.fa-circle-o.fa-stack-2x
				i.fa.fa-check.fa-stack-1x
		
		div(ng-show="!keyboard")
			//- .note(ng-show="!recording") Tap to record
			.note(ng-class="{visible: recording}") Recording...
